.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.profile-picture-div {
	height: 150px;
	width:  150px;
}

.angular-google-map-container { height: 400px; }

.profile-picture-img {
    max-width: 100%;
    max-height: 100%;
}