<section data-ng-controller="PartiesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Soirées</h1>
		<h2>Liste des soirées dans votre région </h2>
	</div>
	<div class="list-group">
		<div data-ng-repeat="party in parties" class="row list-group-item">
			<div class="col-md-8">
					<small class="list-group-item-text">
						Posted on
						<span data-ng-bind="party.created | date:'mediumDate'"></span>
						by
						<span data-ng-bind="party.user.displayName"></span>
					</small>
					<h4 class="list-group-item-heading" data-ng-bind="party.title"></h4>
					<p class="list-group-item-text" data-ng-bind="party.content"></p>
			
			</div>
			<div class="col-md-4">
				<div class="btn-group pull-right">
					<a class="btn btn-primary" href="/#!/parties/{{party._id}}">
						Informations
					</a>
					<a class="btn btn-success" href="/#!/parties/{{party._id}}/ask">
						Participer
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="parties.$resolved && !parties.length">
		No parties yet, why don't you <a href="/#!/parties/create">create one</a>?
	</div>


</section>