<section data-ng-controller="ActivitiesController" data-ng-init="find()">
	<div class="page-header">
		<h1>Activities</h1>
		<h2>List of activities proposed by people around your location.</h2>
		<a href="/#!/activities/create" class="btn btn-primary">Create activity</a>
	</div>
	<h3>Future events</h3>
	<div class="list-group">
		<div data-ng-repeat="activity in activities | filterOld" class="row list-group-item">
			<div class="col-md-8">
					<small class="list-group-item-text">
						Date :
						<span data-ng-bind="activity.date | date:'mediumDate'"></span>
						Created by :
						<span data-ng-bind="activity.user.displayName"></span>
					</small>
					<h4 class="list-group-item-heading" data-ng-bind="activity.title"></h4>
					<p class="list-group-item-text" data-ng-bind="activity.content"></p>
			
			</div>
			<div class="col-md-4">
				<div class="btn-group pull-right">
					<a class="btn btn-primary" href="/#!/activities/{{activity._id}}">
						Informations
					</a>
					<a class="btn btn-success" 
					ng-if="activity.participants.indexOf(authentication.user._id) === -1" 
					ng-click="participate(activity._id)">
						Participate
					</a>		
					<a class="btn btn-success" 
					ng-if="activity.participants.indexOf(authentication.user._id) != -1" 
					disabled>
						Participating
					</a>
				</div>
			</div>
		</div>
	</div>
	<h3>Past events</h3>
	<div class="list-group">
		<div data-ng-repeat="activity in activities | filterNew" class="row list-group-item">
			<div class="col-md-8">
					<small class="list-group-item-text">
						Date :
						<span data-ng-bind="activity.date | date:'mediumDate'"></span>
						Created by :
						<span data-ng-bind="activity.user.displayName"></span>
					</small>
					<h4 class="list-group-item-heading" data-ng-bind="activity.title"></h4>
					<p class="list-group-item-text" data-ng-bind="activity.content"></p>
			
			</div>
			<div class="col-md-4">
				<div class="btn-group pull-right">
					<a class="btn btn-primary" href="/#!/activities/{{activity._id}}">
						Informations
					</a>
					<a class="btn btn-success" 
					ng-if="activity.participants.indexOf(authentication.user._id) === -1" 
					ng-click="participate(activity._id)">
						Participate
					</a>		
					<a class="btn btn-success" 
					ng-if="activity.participants.indexOf(authentication.user._id) != -1" 
					disabled>
						Participating
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="activities.$resolved && !activities.length">
		No activities yet, why don't you <a href="/#!/activities/create">create one</a>?
	</div>


</section>